In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA, TruncatedSVD
import matplotlib.patches as mpatches
import time

# Classifier Libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier ,AdaBoostClassifier,ExtraTreesClassifier

from sklearn.ensemble import GradientBoostingClassifier
import collections


# Other Libraries
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from imblearn.pipeline import make_pipeline as imbalanced_make_pipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, classification_report ,confusion_matrix
from collections import Counter
from sklearn.model_selection import KFold, StratifiedKFold
import warnings

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, RobustScaler

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model  import LogisticRegression

from sklearn import  ensemble, preprocessing, metrics

Using TensorFlow backend.

In [79]:
dt = pd.read_csv('../train.csv' , encoding='big5')

In [5]:
dropx = []
for i in dt.keys():
    if dt[i].isnull().sum() > 20000 and dt[i].isnull().sum() <=70000:
        dropx.append(i)

In [96]:
dt['RFM_M_LEVEL'].describe()

count    56718.000000
mean         5.644910
std          2.451039
min          3.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         10.000000
Name: RFM_M_LEVEL, dtype: float64

In [97]:
dt['RFM_M_LEVEL']

0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
5         3.0
6         3.0
7         3.0
8         3.0
9         3.0
10        3.0
11        3.0
12        5.0
13        3.0
14        3.0
15        3.0
16        3.0
17        3.0
18        5.0
19        5.0
20        3.0
21        3.0
22        7.0
23        7.0
24        3.0
25        5.0
26        3.0
27        3.0
28        3.0
29        3.0
         ...
99970     5.0
99971     5.0
99972     5.0
99973    10.0
99974     3.0
99975     5.0
99976     3.0
99977     9.0
99978    10.0
99979     9.0
99980     5.0
99981     3.0
99982     7.0
99983     8.0
99984     3.0
99985     8.0
99986     8.0
99987     5.0
99988     5.0
99989     3.0
99990     3.0
99991     9.0
99992     5.0
99993     3.0
99994     3.0
99995     7.0
99996     3.0
99997     8.0
99998     5.0
99999     8.0
Name: RFM_M_LEVEL, Length: 100000, dtype: float64

In [92]:
min_max_scaler = preprocessing.MinMaxScaler()    
dt["LEVEL"]  = min_max_scaler.fit_transform(dt["LEVEL"].values.reshape(-1,1))
dt['LEVEL'] = dt['LEVEL'].fillna(dt['LEVEL'].mean())
dt['LEVEL'].describe()

count    100000.000000
mean          0.639479
std           0.318270
min           0.000000
25%           0.639479
50%           0.639479
75%           1.000000
max           1.000000
Name: LEVEL, dtype: float64

In [83]:
dt['REBUY_TIMES_CNT'] = dt['REBUY_TIMES_CNT'].fillna(1)
ohi = pd.get_dummies(dt["REBUY_TIMES_CNT"])
ohi
ohi.columns = ['rebuy0','rebuy1','rebuy2','rebuy3','rebuy4']
# dt = dt.drop("APC_1ST_AGE",axis=1)
# dt = pd.concat([ohi,dt],axis=1)

       1  中  中高  低  高
0      0  0   0  1  0
1      0  0   0  1  0
2      0  0   0  1  0
3      0  0   0  1  0
4      0  0   0  1  0
5      0  0   0  1  0
6      0  0   0  1  0
7      0  0   0  1  0
8      0  0   0  1  0
9      0  0   0  1  0
10     0  0   0  1  0
11     0  0   0  1  0
12     0  1   0  0  0
13     0  0   0  1  0
14     0  0   0  1  0
15     0  0   0  1  0
16     0  0   0  1  0
17     0  0   0  1  0
18     0  0   0  1  0
19     0  1   0  0  0
20     0  0   0  1  0
21     0  0   0  1  0
22     0  0   1  0  0
23     0  0   0  1  0
24     0  0   0  1  0
25     0  1   0  0  0
26     0  0   0  1  0
27     0  0   0  1  0
28     0  0   0  1  0
29     0  0   0  1  0
...   .. ..  .. .. ..
99970  0  0   0  1  0
99971  0  1   0  0  0
99972  0  0   0  1  0
99973  0  0   1  0  0
99974  0  0   0  1  0
99975  0  0   0  1  0
99976  0  0   0  1  0
99977  0  0   0  0  1
99978  0  0   0  0  1
99979  0  1   0  0  0
99980  0  0   0  1  0
99981  0  0   0  1  0
99982  0  0   0  1  0
99983  0  0   1  0  0
99984  0  0   0  1  0
99985  0  0   0  1  0
99986  0  0   1  0  0
99987  0  1   0  0  0
99988  0  0   0  1  0
99989  0  0   0  1  0
99990  0  0   0  1  0
99991  0  1   0  0  0
99992  0  0   0  1  0
99993  0  0   0  1  0
99994  0  0   0  1  0
99995  0  1   0  0  0
99996  0  0   0  1  0
99997  0  1   0  0  0
99998  0  0   0  1  0
99999  0  0   0  1  0

[100000 rows x 5 columns]

In [103]:
for i in dt.keys():
    for a in i:
        if a is not None and (dt[i].isnull().sum()>20000 and dt[i].isnull().sum()<70000):
            print(i)
            print(dt[i].describe())
            print("*"*100)
            break

EDUCATION_CD
count    79438.000000
mean         2.169075
std          0.929452
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          4.000000
Name: EDUCATION_CD, dtype: float64
****************************************************************************************************
APC_1ST_AGE
count     56718
unique        4
top          中高
freq      16507
Name: APC_1ST_AGE, dtype: object
****************************************************************************************************
APC_1ST_YEARDIF
count    56718.000000
mean         0.258769
std          0.182968
min          0.000000
25%          0.116279
50%          0.209302
75%          0.418605
max          0.930233
Name: APC_1ST_YEARDIF, dtype: float64
****************************************************************************************************
RFM_R
count     56706
unique        4
top           低
freq      17506
Name: RFM_R, dtype: object
****************************************************************************************************
RFM_M_LEVEL
count    56718.000000
mean         5.644910
std          2.451039
min          3.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         10.000000
Name: RFM_M_LEVEL, dtype: float64
****************************************************************************************************
ANNUAL_PREMIUM_AMT
count    37555.000000
mean         0.001235
std          0.004181
min          0.000000
25%          0.000209
50%          0.000423
75%          0.000999
max          0.378860
Name: ANNUAL_PREMIUM_AMT, dtype: float64
****************************************************************************************************
ANNUAL_INCOME_AMT
count    60799.000000
mean         0.000607
std          0.001458
min          0.000000
25%          0.000250
50%          0.000417
75%          0.000667
max          0.250000
Name: ANNUAL_INCOME_AMT, dtype: float64
****************************************************************************************************
TERMINATION_RATE
count    56718.000000
mean        12.090985
std         27.663858
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        100.000000
Name: TERMINATION_RATE, dtype: float64
****************************************************************************************************
DIEBENEFIT_AMT
count    72460.000000
mean         0.003079
std          0.005977
min          0.000000
25%          0.000147
50%          0.001133
75%          0.003638
max          0.362252
Name: DIEBENEFIT_AMT, dtype: float64
****************************************************************************************************
DIEACCIDENT_AMT
count    72460.000000
mean         0.004402
std          0.007035
min          0.000000
25%          0.000260
50%          0.002437
75%          0.005787
max          0.362252
Name: DIEACCIDENT_AMT, dtype: float64
****************************************************************************************************
POLICY_VALUE_AMT
count    72460.000000
mean         0.000868
std          0.005358
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.378532
Name: POLICY_VALUE_AMT, dtype: float64
****************************************************************************************************
ANNUITY_AMT
count    72460.000000
mean         0.002359
std          0.009075
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000214
max          0.377345
Name: ANNUITY_AMT, dtype: float64
****************************************************************************************************
EXPIRATION_AMT
count    72460.000000
mean         0.000321
std          0.003795
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.287588
Name: EXPIRATION_AMT, dtype: float64
****************************************************************************************************
ACCIDENT_HOSPITAL_REC_AMT
count    72460.000000
mean         0.151623
std          0.151424
min          0.000000
25%          0.000000
50%          0.112000
75%          0.264000
max          0.808000
Name: ACCIDENT_HOSPITAL_REC_AMT, dtype: float64
****************************************************************************************************
DISEASES_HOSPITAL_REC_AMT
count    72460.000000
mean         0.136661
std          0.139595
min          0.000000
25%          0.000000
50%          0.107527
75%          0.247312
max          0.860215
Name: DISEASES_HOSPITAL_REC_AMT, dtype: float64
****************************************************************************************************
OUTPATIENT_SURGERY_AMT
count    72460.000000
mean         0.089922
std          0.101751
min          0.000000
25%          0.000000
50%          0.063492
75%          0.142857
max          0.952381
Name: OUTPATIENT_SURGERY_AMT, dtype: float64
****************************************************************************************************
INPATIENT_SURGERY_AMT
count    72460.000000
mean         0.058821
std          0.078278
min          0.000000
25%          0.000000
50%          0.030303
75%          0.103030
max          0.824242
Name: INPATIENT_SURGERY_AMT, dtype: float64
****************************************************************************************************
PAY_LIMIT_MED_MISC_AMT
count    72460.000000
mean         0.094473
std          0.166933
min          0.000000
25%          0.000000
50%          0.000000
75%          0.312500
max          1.000000
Name: PAY_LIMIT_MED_MISC_AMT, dtype: float64
****************************************************************************************************
FIRST_CANCER_AMT
count    72460.000000
mean         0.014284
std          0.033439
min          0.000000
25%          0.000000
50%          0.000000
75%          0.018868
max          0.734591
Name: FIRST_CANCER_AMT, dtype: float64
****************************************************************************************************
ILL_ACCELERATION_AMT
count    72460.000000
mean         0.004284
std          0.014163
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.666667
Name: ILL_ACCELERATION_AMT, dtype: float64
****************************************************************************************************
ILL_ADDITIONAL_AMT
count    72460.000000
mean         0.002229
std          0.009714
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.300000
Name: ILL_ADDITIONAL_AMT, dtype: float64
****************************************************************************************************
LONG_TERM_CARE_AMT
count    72460.000000
mean         0.002394
std          0.020305
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.809524
Name: LONG_TERM_CARE_AMT, dtype: float64
****************************************************************************************************
MONTHLY_CARE_AMT
count    72460.000000
mean         0.018912
std          0.040821
min          0.000000
25%          0.000000
50%          0.000000
75%          0.025773
max          0.859107
Name: MONTHLY_CARE_AMT, dtype: float64
****************************************************************************************************
IF_ISSUE_INSD_A_IND
count     79917
unique        2
top           N
freq      77547
Name: IF_ISSUE_INSD_A_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_B_IND
count     79917
unique        2
top           N
freq      77949
Name: IF_ISSUE_INSD_B_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_C_IND
count     79917
unique        2
top           N
freq      73297
Name: IF_ISSUE_INSD_C_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_D_IND
count     79917
unique        2
top           N
freq      67753
Name: IF_ISSUE_INSD_D_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_E_IND
count     79917
unique        2
top           N
freq      79757
Name: IF_ISSUE_INSD_E_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_F_IND
count     79917
unique        2
top           N
freq      75467
Name: IF_ISSUE_INSD_F_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_G_IND
count     79917
unique        2
top           N
freq      76078
Name: IF_ISSUE_INSD_G_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_H_IND
count     79917
unique        2
top           N
freq      79883
Name: IF_ISSUE_INSD_H_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_I_IND
count     79917
unique        2
top           N
freq      70807
Name: IF_ISSUE_INSD_I_IND, dtype: object
****************************************************************************************************

IF_ISSUE_INSD_J_IND
count     79917
unique        2
top           N
freq      59422
Name: IF_ISSUE_INSD_J_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_K_IND
count     79917
unique        2
top           N
freq      79385
Name: IF_ISSUE_INSD_K_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_L_IND
count     79917
unique        2
top           N
freq      79146
Name: IF_ISSUE_INSD_L_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_M_IND
count     79917
unique        2
top           N
freq      79752
Name: IF_ISSUE_INSD_M_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_N_IND
count     79917
unique        2
top           N
freq      55664
Name: IF_ISSUE_INSD_N_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_O_IND
count     79917
unique        2
top           N
freq      78412
Name: IF_ISSUE_INSD_O_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_P_IND
count     79917
unique        2
top           N
freq      52368
Name: IF_ISSUE_INSD_P_IND, dtype: object
****************************************************************************************************
IF_ISSUE_INSD_Q_IND
count     79917
unique        2
top           N
freq      44690
Name: IF_ISSUE_INSD_Q_IND, dtype: object
****************************************************************************************************
IF_ADD_INSD_F_IND
count     48152
unique        2
top           Y
freq      24196
Name: IF_ADD_INSD_F_IND, dtype: object
****************************************************************************************************
IF_ADD_INSD_L_IND
count     48152
unique        2
top           Y
freq      36432
Name: IF_ADD_INSD_L_IND, dtype: object
****************************************************************************************************
IF_ADD_INSD_Q_IND
count     48152
unique        2
top           Y
freq      37145
Name: IF_ADD_INSD_Q_IND, dtype: object
****************************************************************************************************
IF_ADD_INSD_G_IND
count     48152
unique        2
top           N
freq      47418
Name: IF_ADD_INSD_G_IND, dtype: object
****************************************************************************************************
IF_ADD_INSD_R_IND
count     48152
unique        2
top           N
freq      30864
Name: IF_ADD_INSD_R_IND, dtype: object
****************************************************************************************************
FINANCETOOLS_A
count     37359
unique        2
top           Y
freq      26456
Name: FINANCETOOLS_A, dtype: object
****************************************************************************************************
FINANCETOOLS_B
count     37359
unique        2
top           N
freq      33826
Name: FINANCETOOLS_B, dtype: object
****************************************************************************************************
FINANCETOOLS_C
count     37359
unique        2
top           N
freq      24837
Name: FINANCETOOLS_C, dtype: object
****************************************************************************************************
FINANCETOOLS_D
count     37359
unique        2
top           N
freq      34308
Name: FINANCETOOLS_D, dtype: object
****************************************************************************************************
FINANCETOOLS_E
count     37359
unique        2
top           N
freq      37114
Name: FINANCETOOLS_E, dtype: object
****************************************************************************************************
FINANCETOOLS_F
count     37359
unique        2
top           N
freq      36161
Name: FINANCETOOLS_F, dtype: object
****************************************************************************************************
FINANCETOOLS_G
count     37359
unique        2
top           N
freq      34101
Name: FINANCETOOLS_G, dtype: object
****************************************************************************************************

In [ ]:
['EDUCATION_CD',
 'APC_1ST_AGE',
 'APC_1ST_YEARDIF',
 'RFM_R',
 'REBUY_TIMES_CNT',
 'LEVEL',
 'RFM_M_LEVEL',
 'ANNUAL_PREMIUM_AMT',
 'ANNUAL_INCOME_AMT',
 'TERMINATION_RATE',
 'DIEBENEFIT_AMT',
 'DIEACCIDENT_AMT',
 'POLICY_VALUE_AMT',
 'ANNUITY_AMT',
 'EXPIRATION_AMT',
 'ACCIDENT_HOSPITAL_REC_AMT',
 'DISEASES_HOSPITAL_REC_AMT',
 'OUTPATIENT_SURGERY_AMT',
 'INPATIENT_SURGERY_AMT',
 'PAY_LIMIT_MED_MISC_AMT',
 'FIRST_CANCER_AMT',
 'ILL_ACCELERATION_AMT',
 'ILL_ADDITIONAL_AMT',
 'LONG_TERM_CARE_AMT',
 'MONTHLY_CARE_AMT',
 'IF_ISSUE_INSD_A_IND',
 'IF_ISSUE_INSD_B_IND',
 'IF_ISSUE_INSD_C_IND',
 'IF_ISSUE_INSD_D_IND',
 'IF_ISSUE_INSD_E_IND',
 'IF_ISSUE_INSD_F_IND',
 'IF_ISSUE_INSD_G_IND',
 'IF_ISSUE_INSD_H_IND',
 'IF_ISSUE_INSD_I_IND',
 'IF_ISSUE_INSD_J_IND',
 'IF_ISSUE_INSD_K_IND',
 'IF_ISSUE_INSD_L_IND',
 'IF_ISSUE_INSD_M_IND',
 'IF_ISSUE_INSD_N_IND',
 'IF_ISSUE_INSD_O_IND',
 'IF_ISSUE_INSD_P_IND',
 'IF_ISSUE_INSD_Q_IND',
 'IF_ADD_INSD_F_IND',
 'IF_ADD_INSD_L_IND',
 'IF_ADD_INSD_Q_IND',
 'IF_ADD_INSD_G_IND',
 'IF_ADD_INSD_R_IND',
 'FINANCETOOLS_A',
 'FINANCETOOLS_B',
 'FINANCETOOLS_C',
 'FINANCETOOLS_D',
 'FINANCETOOLS_E',
 'FINANCETOOLS_F',
 'FINANCETOOLS_G']

In [3]:
def data_re(dt,ckk):
    #map 補平均
    #one hot encoding
    dt['APC_1ST_AGE'] = dt['APC_1ST_AGE'].fillna(1)
    ohi = pd.get_dummies(dt["APC_1ST_AGE"])
    ohi.columns = ['apc0','apc1','apc2','apc3','apc4']
    dt = dt.drop("APC_1ST_AGE",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    dt["EDUCATION_CD"] = dt["EDUCATION_CD"].fillna(5)
    ohi = pd.get_dummies(dt["EDUCATION_CD"])
    dt = dt.drop("EDUCATION_CD",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    dt["GENDER"] = dt["GENDER"].fillna(0)
    ohi = pd.get_dummies(dt["GENDER"])
    ohi.columns = ['gen0','genF','genM']
    dt = dt.drop("GENDER",axis=1)
    dt = pd.concat([ohi,dt],axis=1)

    ohi = pd.get_dummies(dt["AGE"])
    dt = dt.drop("AGE",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
        
        #n > 40000
    dt['RFM_R'] 
    dt["RFM_R"] = dt["RFM_R"].fillna(0)
    ohi = pd.get_dummies(dt["RFM_R"])
    ohi.columns = ['rfm0','rfm1','rfm2','rfm3','rfm4']
    dt = dt.drop("RFM_R",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    dt['REBUY_TIMES_CNT'] = dt['REBUY_TIMES_CNT'].fillna(1)
    ohi = pd.get_dummies(dt["REBUY_TIMES_CNT"])
    ohi.columns = ['rebuy0','rebuy1','rebuy2','rebuy3','rebuy4']
    dt = dt.drop("REBUY_TIMES_CNT",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    ##
    
    dt["CHARGE_CITY_CD"]
    ohi = pd.get_dummies(dt["CHARGE_CITY_CD"])
    ohi.columns = ["add1","add2","add3","add4","add5","add6","add7","add8"]
    dt = dt.drop("CHARGE_CITY_CD",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    ohi = pd.get_dummies(dt["CONTACT_CITY_CD"])
    ohi.columns = ["addcon1","addcon12","addcon13","addcon14","addcon15","addcon16","addcon17","addcon18"]
    dt = dt.drop("CONTACT_CITY_CD",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    dt["MARRIAGE_CD"]
    ohi = pd.get_dummies(dt["MARRIAGE_CD"])
    ohi.columns = ["hm","nm","fm"]
    dt = dt.drop("MARRIAGE_CD",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    dt['INSD_1ST_AGE']
    ohi = pd.get_dummies(dt["INSD_1ST_AGE"])
    ohi.columns = ["insd1","insd2","insd3","insd4"]
    dt = dt.drop("INSD_1ST_AGE",axis=1)
    dt = pd.concat([ohi,dt],axis=1)

    dt['LIFE_CNT']
    ohi = pd.get_dummies(dt["LIFE_CNT"])
    ohi.columns = ["lif1","lif2","lif3"]
    dt = dt.drop("LIFE_CNT",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    dt['CUST_9_SEGMENTS_CD']
    ohi = pd.get_dummies(dt["CUST_9_SEGMENTS_CD"])
    ohi.columns = ["cust1","cust2","cust3","cust4","cust5","cust6","cust7","cust8"]
    dt = dt.drop("CUST_9_SEGMENTS_CD",axis=1)
    dt = pd.concat([ohi,dt],axis=1)
    
    #n0 y1 
    dt["LAST_A_CCONTACT_DT"] = dt["LAST_A_CCONTACT_DT"].replace("Y",1)
    dt["LAST_A_CCONTACT_DT"] = dt["LAST_A_CCONTACT_DT"].replace("N",0)
    dt["LAST_A_ISSUE_DT"] = dt["LAST_A_ISSUE_DT"].replace("Y",1)
    dt["LAST_A_ISSUE_DT"] = dt["LAST_A_ISSUE_DT"].replace("N",0)
    dt['IF_2ND_GEN_IND'] = dt['IF_2ND_GEN_IND'].replace('Y',1)
    dt['IF_ISSUE_A_IND'] = dt['IF_ISSUE_A_IND'].replace('Y',1)
    dt['IF_ISSUE_B_IND'] = dt['IF_ISSUE_B_IND'].replace('Y',1)
    dt['IF_ISSUE_C_IND'] = dt['IF_ISSUE_C_IND'].replace('Y',1)
    dt['IF_ISSUE_E_IND'] = dt['IF_ISSUE_E_IND'].replace('Y',1)
    dt['IF_ISSUE_F_IND'] = dt['IF_ISSUE_F_IND'].replace('Y',1)
    dt['IF_ISSUE_G_IND'] = dt['IF_ISSUE_G_IND'].replace('Y',1)
    dt['IF_ISSUE_H_IND'] = dt['IF_ISSUE_H_IND'].replace('Y',1)
    dt['IF_ISSUE_I_IND'] = dt['IF_ISSUE_I_IND'].replace('Y',1)
    dt['IF_ISSUE_J_IND'] = dt['IF_ISSUE_J_IND'].replace('Y',1)
    dt['IF_ISSUE_K_IND'] = dt['IF_ISSUE_K_IND'].replace('Y',1)
    dt['IF_ISSUE_L_IND'] = dt['IF_ISSUE_L_IND'].replace('Y',1)
    dt['IF_ISSUE_N_IND'] = dt['IF_ISSUE_N_IND'].replace('Y',1)
    dt['IF_ISSUE_M_IND'] = dt['IF_ISSUE_M_IND'].replace('Y',1)
    dt['IF_ISSUE_O_IND'] = dt['IF_ISSUE_O_IND'].replace('Y',1)
    dt['IF_ISSUE_P_IND'] = dt['IF_ISSUE_P_IND'].replace('Y',1)
    dt['IF_ISSUE_Q_IND'] = dt['IF_ISSUE_Q_IND'].replace('Y',1)
    dt['IF_ADD_F_IND'] = dt['IF_ADD_F_IND'].replace('Y',1)
    dt['IF_ADD_L_IND'] = dt['IF_ADD_L_IND'].replace('Y',1)
    dt['IF_ADD_Q_IND'] = dt['IF_ADD_Q_IND'].replace('Y',1)
    dt['IF_ADD_G_IND'] = dt['IF_ADD_G_IND'].replace('Y',1)
    dt['IF_ADD_R_IND'] = dt['IF_ADD_R_IND'].replace('Y',1)
    dt['IF_S_REAL_IND'] = dt['IF_S_REAL_IND'].replace('Y',1)
    dt['IF_Y_REAL_IND'] = dt['IF_Y_REAL_IND'].replace('Y',1)
    dt['IM_IS_A_IND'] = dt['IM_IS_A_IND'].replace('Y',1)
    dt['IM_IS_B_IND'] = dt['IM_IS_B_IND'].replace('Y',1)
    dt['IM_IS_C_IND'] = dt['IM_IS_C_IND'].replace('Y',1)
    dt['IM_IS_D_IND'] = dt['IM_IS_D_IND'].replace('Y',1)
    dt['IF_HOUSEHOLD_CLAIM_IND'] = dt['IF_HOUSEHOLD_CLAIM_IND'].replace('Y',1)
    dt['LAST_A_ISSUE_DT'] = dt['LAST_A_ISSUE_DT'].replace('Y',1)
    dt['LAST_B_ISSUE_DT'] = dt['LAST_B_ISSUE_DT'].replace('Y',1)
    dt['IF_ISSUE_D_IND'] = dt['IF_ISSUE_D_IND'].replace('Y',1)
    dt['IF_ADD_IND'] = dt['IF_ADD_IND'].replace('Y',1)
    dt['L1YR_PAYMENT_REMINDER_IND'] = dt['L1YR_PAYMENT_REMINDER_IND'].replace('Y',1)
    dt['L1YR_LAPSE_IND'] = dt['L1YR_LAPSE_IND'].replace('Y',1)
    dt['LAST_B_CONTACT_DT'] = dt['LAST_B_CONTACT_DT'].replace('Y',1)
    dt['LAST_C_DT'] = dt['LAST_C_DT'].replace('Y',1)
    dt['IF_2ND_GEN_IND'] = dt['IF_2ND_GEN_IND'].replace('N',0)
    dt['IF_ISSUE_A_IND'] = dt['IF_ISSUE_A_IND'].replace('N',0)
    dt['IF_ISSUE_B_IND'] = dt['IF_ISSUE_B_IND'].replace('N',0)
    dt['IF_ISSUE_C_IND'] = dt['IF_ISSUE_C_IND'].replace('N',0)
    dt['IF_ISSUE_E_IND'] = dt['IF_ISSUE_E_IND'].replace('N',0)
    dt['IF_ISSUE_F_IND'] = dt['IF_ISSUE_F_IND'].replace('N',0)
    dt['IF_ISSUE_G_IND'] = dt['IF_ISSUE_G_IND'].replace('N',0)
    dt['IF_ISSUE_H_IND'] = dt['IF_ISSUE_H_IND'].replace('N',0)
    dt['IF_ISSUE_I_IND'] = dt['IF_ISSUE_I_IND'].replace('N',0)
    dt['IF_ISSUE_J_IND'] = dt['IF_ISSUE_J_IND'].replace('N',0)
    dt['IF_ISSUE_K_IND'] = dt['IF_ISSUE_K_IND'].replace('N',0)
    dt['IF_ISSUE_L_IND'] = dt['IF_ISSUE_L_IND'].replace('N',0)
    dt['IF_ISSUE_N_IND'] = dt['IF_ISSUE_N_IND'].replace('N',0)
    dt['IF_ISSUE_M_IND'] = dt['IF_ISSUE_M_IND'].replace('N',0)
    dt['IF_ISSUE_O_IND'] = dt['IF_ISSUE_O_IND'].replace('N',0)
    dt['IF_ISSUE_P_IND'] = dt['IF_ISSUE_P_IND'].replace('N',0)
    dt['IF_ISSUE_Q_IND'] = dt['IF_ISSUE_Q_IND'].replace('N',0)
    dt['IF_ADD_F_IND'] = dt['IF_ADD_F_IND'].replace('N',0)
    dt['IF_ADD_L_IND'] = dt['IF_ADD_L_IND'].replace('N',0)
    dt['IF_ADD_Q_IND'] = dt['IF_ADD_Q_IND'].replace('N',0)
    dt['IF_ADD_G_IND'] = dt['IF_ADD_G_IND'].replace('N',0)
    dt['IF_ADD_R_IND'] = dt['IF_ADD_R_IND'].replace('N',0)
    dt['IF_S_REAL_IND'] = dt['IF_S_REAL_IND'].replace('N',0)
    dt['IF_Y_REAL_IND'] = dt['IF_Y_REAL_IND'].replace('N',0)
    dt['IM_IS_A_IND'] = dt['IM_IS_A_IND'].replace('N',0)
    dt['IM_IS_B_IND'] = dt['IM_IS_B_IND'].replace('N',0)
    dt['IM_IS_C_IND'] = dt['IM_IS_C_IND'].replace('N',0)
    dt['IM_IS_D_IND'] = dt['IM_IS_D_IND'].replace('N',0)
    dt['IF_HOUSEHOLD_CLAIM_IND'] = dt['IF_HOUSEHOLD_CLAIM_IND'].replace('N',0)
    dt['LAST_A_ISSUE_DT'] = dt['LAST_A_ISSUE_DT'].replace('N',0)
    dt['LAST_B_ISSUE_DT'] = dt['LAST_B_ISSUE_DT'].replace('N',0)
    dt['IF_ISSUE_D_IND'] = dt['IF_ISSUE_D_IND'].replace('N',0)
    dt['IF_ADD_IND'] = dt['IF_ADD_IND'].replace('N',0)
    dt['L1YR_PAYMENT_REMINDER_IND'] = dt['L1YR_PAYMENT_REMINDER_IND'].replace('N',0)
    dt['L1YR_LAPSE_IND'] = dt['L1YR_LAPSE_IND'].replace('N',0)
    dt['LAST_B_CONTACT_DT'] = dt['LAST_B_CONTACT_DT'].replace('N',0)
    dt['LAST_C_DT'] = dt['LAST_C_DT'].replace('N',0)
    if ckk==1 :
        dt['Y1'] = dt['Y1'].replace('Y',1)
        dt['Y1'] = dt['Y1'].replace('N',0)

    #缺值補0 n0 y1
    dt['X_A_IND'] = dt['X_A_IND'].fillna(0)
    dt['X_B_IND'] = dt['X_B_IND'].fillna(0)
    dt['X_C_IND'] = dt['X_C_IND'].fillna(0)
    dt['X_D_IND'] = dt['X_D_IND'].fillna(0)
    dt['X_E_IND'] = dt['X_E_IND'].fillna(0)
    dt['X_F_IND'] = dt['X_F_IND'].fillna(0)
    dt['X_G_IND'] = dt['X_G_IND'].fillna(0)
    dt['X_H_IND'] = dt['X_H_IND'].fillna(0)
    dt['IF_ADD_INSD_IND'] = dt['IF_ADD_INSD_IND'].fillna(0)

    dt['X_A_IND'] = dt['X_A_IND'].replace('Y',1)
    dt['X_B_IND'] = dt['X_B_IND'].replace('Y',1)
    dt['X_C_IND'] = dt['X_C_IND'].replace('Y',1)
    dt['X_D_IND'] = dt['X_D_IND'].replace('Y',1)
    dt['X_E_IND'] = dt['X_E_IND'].replace('Y',1)
    dt['X_F_IND'] = dt['X_F_IND'].replace('Y',1)
    dt['X_G_IND'] = dt['X_G_IND'].replace('Y',1)
    dt['X_H_IND'] = dt['X_H_IND'].replace('Y',1)
    dt['IF_ADD_INSD_IND'] = dt['IF_ADD_INSD_IND'].replace('Y',1)

    dt['X_A_IND'] = dt['X_A_IND'].replace('N',0)
    dt['X_B_IND'] = dt['X_B_IND'].replace('N',1)
    dt['X_C_IND'] = dt['X_C_IND'].replace('N',1)
    dt['X_D_IND'] = dt['X_D_IND'].replace('N',1)
    dt['X_E_IND'] = dt['X_E_IND'].replace('N',1)
    dt['X_F_IND'] = dt['X_F_IND'].replace('N',1)
    dt['X_G_IND'] = dt['X_G_IND'].replace('N',1)
    dt['X_H_IND'] = dt['X_H_IND'].replace('N',1)
    dt['IF_ADD_INSD_IND'] = dt['IF_ADD_INSD_IND'].replace('N',1)
    
    

    #缺值補平均值
    dt['OCCUPATION_CLASS_CD'] = dt['OCCUPATION_CLASS_CD'].fillna(dt['OCCUPATION_CLASS_CD'].mean())#類別
    dt['INSD_LAST_YEARDIF_CNT'] = dt['INSD_LAST_YEARDIF_CNT'].fillna(dt['INSD_LAST_YEARDIF_CNT'].mean())
    dt['BMI'] = dt['BMI'].fillna(dt['BMI'].mean())
    
        #N >40000
    dt['APC_1ST_YEARDIF'] = dt['APC_1ST_YEARDIF'].fillna(dt['APC_1ST_YEARDIF'].mean())
    
    #0-1標準化
    min_max_scaler = preprocessing.MinMaxScaler()    
    dt["CHANNEL_A_POL_CNT"]  = min_max_scaler.fit_transform(dt["CHANNEL_A_POL_CNT"].values.reshape(-1,1))
    dt["CHANNEL_B_POL_CNT"]  = min_max_scaler.fit_transform(dt["CHANNEL_B_POL_CNT"].values.reshape(-1,1))
    dt["APC_CNT"]  = min_max_scaler.fit_transform(dt["APC_CNT"].values.reshape(-1,1))
    dt["INSD_CNT"]  = min_max_scaler.fit_transform(dt["INSD_CNT"].values.reshape(-1,1))
    dt["IM_CNT"]  = min_max_scaler.fit_transform(dt["IM_CNT"].values.reshape(-1,1))
    dt["TOOL_VISIT_1YEAR_CNT"]  = min_max_scaler.fit_transform(dt["TOOL_VISIT_1YEAR_CNT"].values.reshape(-1,1))
        
        #N>40000   
    dt["LEVEL"]  = min_max_scaler.fit_transform(dt["LEVEL"].values.reshape(-1,1))
    dt['LEVEL'] = dt['LEVEL'].fillna(dt['LEVEL'].mean())
    
    return dt